@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  font-family: "Times New Roman", Times, serif;
}
.container {
  font-family: monospace;
}
